footer{
    padding-bottom: 80px;
    h1 {
        margin-bottom: 40px;
        color: $text-color;
    }
    h2 {
        color: $text-color;
        margin-bottom: 15px;
    }
    p {
        color: $text-color;
    }
    .footer__wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        row-gap: 40px;
        .footer__wrapper-card {
            width: 270px;
            div {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    footer{
        padding-bottom: 40px;
        h1 {
            margin-bottom: 20px;
            font-size: 20px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            color: $text-color;
            font-size: 12px;
        }
        .footer__wrapper {
            grid-template-columns: auto auto;
            justify-content: start;
            row-gap: 30px;
            .footer__wrapper-card {
                width: 175px;
            }
        }
    }
}